<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Google Play Store Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;800&display=swap" rel="stylesheet">
</head>
<script type="text/javascript">
    function zoom() {
        document.body.style.zoom = "110%" 
    }
</script>
<body onload="zoom()" style="background-color:#c4dbf6">
    <div class="wrapper">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            
        </nav>

        <!-- Page Header -->
        <div style="background-color:#c4dbf6" class="jumbotron"> 
            <h1 class="display-4">Google Play App Analysis</h1>
        </div>
     

        <!-- Article Title | Article Paragraph -->
        <div style="background-color:#c4dbf6" class="container-fluid">
            <div class="row">
                <!-- Article Title -->
                <div class="col-md-4" >
                    <br>
                    <h5><u>What is the Topic?</u></h5>
                    <br>
                </div>
                <!-- Article Paragraph -->
                <div class="text-nowrap" style="width: 8rem;text-align: left;margin-left: -70px;">
                    <br>
                    In this application we are analyzing data pulled on Google Play apps and predicting Google Play Store app successfullness.
                </div>
            </div>
        </div>


        <!-- Article Title | Article Paragraph -->
        <div style="background-color:#8590aa" class="container-fluid">
            <div class="row">
                <!-- Article Title -->
                <div class="col-md-4">
                    <br>
                    <h5><u>How can we predict app</u><u><br>success?</u></h5>
                    <br>
                </div>
                <!-- Article Paragraph -->
                <div class="text-nowrap" style="width: 8rem;text-align: left;margin-left: -70px;">
                    <!-- Add description here -->
                    <br><br>
                    We are using features like category, price, ads and in app purchases and its effect on app's ratings and installs. <br>
                    <br><br>
                 </div>
            </div>
        </div>


         <!-- Article Title | Article Paragraph -->
         <div style="background-color:#c4dbf6" class="container-fluid">
            <div class="row">
                <!-- Article Title -->
                <div class="col-md-4" >
                    <br>
                    <h5><u>Data Source?</u></h5>
                        
                </div>
                <!-- Article Paragraph -->
                <div class="text-nowrap" style="width: 8rem;text-align: left;margin-left: -70px;">
                    <br>
                    We got the data from Kaggle. The data was collected in the month of June 2021. Link here --> <a href="https://www.kaggle.com/gauthamp10/google-playstore-apps">Google_Play_Store_Data_Kaggle</a> 
                    <b><br>Kaggle Metadata</b><br>
                    <img src="static/images/Kaggle_Stats.jpg" style="margin-left: 0px;width: 650px;height: 300px;">
                    <br><br><br>
                </div>
                
            </div>
        </div>
        

        <!-- Article Title | Article Paragraph -->
        <div style="background-color:#8590aa" class="container-fluid">
            <div class="row">
                <!-- Article Title -->
                <div class="col-md-4">
                    <br>
                    <h5><u>Softwares used to create the<br>machine learning model?</u></h5>
                </div>
                <!-- Article Paragraph -->
                <div class="col-md-8" style="text-align: left;margin-left: 400px;margin-top: -50px;">
                    <!-- Add description here -->
                    
                 </div>
            </div>
            <div class="row" style="align-content: center;">
                <img src="static/images/vsc.jfif" style="margin-left: 415px;width: 250px;height: 250px;">
                <div>
                    <img src="static/images/py3.jfif" style="margin-left: 670px;margin-top: -200px;width: 250px;height: 250px;">
                    <div>
                        <img src="static/images/jnotbook.jfif" style="margin-left: 925px;margin-top: -200px;width: 250px;height: 250px;">
                    </div>
                </div>
            </div>
            <br>
            
        </div>

    <div style="background-color:#c4dbf6" class="container-fluid">
        <div class="row">
            <!-- Article Title -->
            <div class="col-md-4">
                <br>
                <h5><u>Database used?</u></h5>
            </div>
            <!-- Article Paragraph -->
        </div>
        <div class="row" style="align-content: center;">
            <img src="static/images/mongodb.jfif" style="margin-left: 415px;width: 500px;height: 250px;">
        </div>
        <br><br>
    </div>
        
    
    <div style="background-color:#8590aa" class="container-fluid">
        <div class="row">
            <!-- Article Title -->
            <div class="col-md-4">
                <br>
                <h5><u>Data exploration</u></h5>
            </div>
            <!-- Article Paragraph -->
        </div>
        <div class="row" style="align-content: center;">
            <img src="static/images/dataexp1.jfif" style="margin-left: 415px;width: 500px;height: 250px;">
            <div>
                <img src="static/images/dataexp2.jfif" style="margin-left: 925px;margin-top: -275px;width: 500px;height: 250px;">
            </div>
        </div>
        <br>
    </div>

    <div style="background-color:#c4dbf6" class="container-fluid">
        <div class="row">
            <!-- Article Title -->
            <div class="col-md-4">
                <br>
                <h5><u>Data Pre-Processing</u></h5>
            </div>
            <!-- Article Paragraph -->
            <div class="text-nowrap" style="width: 8rem;text-align: left;margin-left: -70px;">
                <br>
                <b>- Check for Data Accruracy <br>
                - Remove null values and drop columns <br>
                - Run Descriptive analysis</b>
              </div>
        </div><br>
        <div class="row" style="align-content: center;">
            <img src="static/images/preprocess1.jfif" style="margin-left: 415px;width: 500px;height: 50px;"> <br>
            <div><br><br><br>
                <img src="static/images/preprocess2.jfif" style="margin-left: 415px;margin-top: -50px;width: 950px;height: 250px;">
                <div><br><br><br>
                    <img src="static/images/preprocess3.jfif" style="margin-left: 415px;margin-top: -50px;width: 500px;height: 250px;">
                </div>
            </div>
        </div>
            <br><br>                
            
    </div>

    <div style="background-color:#8590aa" class="container-fluid">
        <div class="row">
            <!-- Article Title -->
            <div class="col-md-4">
                <br>
                <h5><u>Machine Learning Algorithm</u></h5>
            </div>
            <!-- Article Paragraph -->
            <div class="text-nowrap" style="width: 8rem;text-align: left;margin-left: -70px;">
                <br>
                - Pulls from ratings, rating count, and maximum installs<br>
                - Success is true or 1 if above the median rating, maximum installs, and over 250 rating count <br>
              </div>
        </div><br>
        <div class="row" style="align-content: center;">
            <img src="static/images/preprocess4.jfif" style="margin-left: 415px;width: 1000px;height: 250px;"> <br>
        </div>
            <br><br>                
            
    </div>

    <div style="background-color:#c4dbf6" class="container-fluid">
        <div class="row">
            <!-- Article Title -->
            <div class="col-md-4">
                <br>
                <h5><u>Machine Learning Results</u></h5>
            </div>
            <!-- Article Paragraph -->
            <div class="text-nowrap" style="width: 8rem;text-align: left;margin-left: -70px;">
                <br>
                - Utilized DecisionTreeClassifier<br>
                - Accuracy: 0.799 <br>
              </div>
        </div><br>
        <div class="row" style="align-content: center;">
            <img src="static/images/results.jfif" style="margin-left: 415px;width: 450px;height: 250px;"> <br>
        </div>
            <br><br>                
            
    </div>

    <div style="background-color:#8590aa" class="container-fluid">
        <div class="row">
            <!-- Article Title -->
            <div class="col-md-4">
                <br>
                <h5><u>Interactive Data Exploration</u></h5>
            </div>
            <!-- Article Paragraph -->
            <div class="text-nowrap" style="width: 8rem;text-align: left;margin-left: -70px;">
              </div>
        </div><br>
                           
            
    </div>

        <!-- Filter | Table -->
        <div style="background-color:#8590aa" class="container-fluid">
            <div class="row">
                <!-- Filter -->
                <div class="col-md-3">
                    <form style="background-color:#8590aa" action="">
                        <p>Filter Search</p>
                        <ul style="background-color:#8590aa">
                            <!-- Input -->
                            <li style="background-color:#8590aa">
                                <label for="date">Enter Category </label>
                                <input type="text" class="form-control" placeholder="1/10/2010" id="category">
                            </li>
                            <!-- City -->
                            <li style="background-color:#8590aa">
                                <label for="date">Enter a Rating</label>
                                <input type="text" class="form-control" placeholder="roswell" id="rating">
                            </li>
                            <!-- State -->
                            <li style="background-color:#8590aa">
                                <label for="date">Enter a Price</label>
                                <input type="text" class="form-control" placeholder="ca" id="price">
                            </li>
                            <!-- Country -->
                            <li style="background-color:#8590aa">
                                <label for="date">Enter a Size</label>
                                <input type="text" class="form-control" placeholder="us" id="size">
                            </li>
                            <!-- Shape -->
                            <li style="background-color:#8590aa">
                                <label for="date">Enter a Released Date</label>
                                <input type="text" class="form-control" placeholder="circle" id="released">
                            </li>
                            <li style="background-color:#8590aa">
                                <label for="date">Enter Ad Supported (Y/N)</label>
                                <input type="text" class="form-control" placeholder="circle" id="adSupported">
                            </li>
                            <li style="background-color:#8590aa">
                                <label for="date">Enter In App Purchases (Y/N)</label>
                                <input type="text" class="form-control" placeholder="circle" id="inAppPurchases">
                            </li>
                            <!-- Button -->
                            <!-- <li class="list-group-item bg-dark text-center">
                                <button id="filter-btn" type="button" class="btn btn-dark">Filter Table</button>
                            </li> -->
                        </ul>
                    </form>
                </div>
                <!-- Table -->
                <div class="col-md-9">
                    {% for table in tables %}
                    {{ table|safe }}
                    {% endfor %}
                    <!-- <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Rating</th>
                                <th>Rating Count</th>
                                <th>Maximum Installs</th>
                                <th>Price</th>
                                <th>Size (mb)</th>
                                <th>Released</th>
                                <th>Ad Supported</th>
                                <th>In App Purchases</th>
                                <th>Good App</th>
                            </tr>
                        </thead>
                        
                    </table> -->
                    <br>

                </div>
                
            </div>
        </div>
    </div>

    <!-- Add scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <!-- <script src="static/js/Google_App_Store_DashboardData.js"></script>
    <script src="static/js/app.js"></script> -->
</body>
</html>